<div class="row">
  <div class="col-xs-3">
    <%= image_tag("#{item.capitalize}_01.png", width: "65%", height: "65%") %>
  </div>
  <div class="col-xs-6">
    <h3><%= item.capitalize %></h3>
  </div>
  <div class="col-xs-3">
    <%= image_tag("#{item.capitalize}_05.png", width: "65%", height: "65%") %>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <input id=<%= "range_#{item}" %> type=range name=<%= item %>_rating min=1 value=1 step=0.05 max=5>
    </div>
  </div>
</div>
