<div class="stink-winner row">
  <div class="stink-winner__route-col col-xs-2">
    <h1 class="stink-winner__route"><%= winner.route_name %></h1>
  </div>
  <div class="stink-winner__stat-col col-xs-3">
    <div class="stink-winner__stat">
      <%= image_tag "Smell_0#{winner.avg_smell_rating}.png", width: "50", alt: "Smell rating", class: "stink-winner__stat-image" %>
      <span>Smell Avg <%= winner.avg_smell_rating %></span>
    </div>
  </div>
  <div class="stink-winner__stat-col col-xs-3">
    <div class="stink-winner__stat">
      <%= image_tag "Clean_0#{winner.avg_clean_rating}.png", width: "50", alt: "Clean rating", class: "stink-winner__stat-image" %>
      <span>Clean Avg <%= winner.avg_clean_rating %></span>
    </div>
  </div>
  <div class="stink-winner__stat-col col-xs-3">
    <div class="stink-winner__stat">
      <%= image_tag "Driver_0#{winner.avg_driver_rating}.png", width: "50", alt: "Driver rating", class: "stink-winner__stat-image" %>
      <span>Driver Avg <%= winner.avg_driver_rating %></span>
    </div>
  </div>
</div>
