<div class="stink-winner">
  <h1 class="stink-winner__route"><%= winner.route_name %></h1>
  <p class="stink-winner__stat">
    <%= image_tag "Smell_0#{winner.avg_smell_rating}.png", width: "50", alt: "Smell rating", class: "stink-winner__stat-image" %>
    Smell Avg <%= winner.avg_smell_rating %>
  </p>
  <p class="stink-winner__stat">
    <%= image_tag "Clean_0#{winner.avg_clean_rating}.png", width: "50", alt: "Clean rating", class: "stink-winner__stat-image" %>
    Clean Avg <%= winner.avg_clean_rating %>
  </p>
  <p class="stink-winner__stat">
    <%= image_tag "Driver_0#{winner.avg_driver_rating}.png", width: "50", alt: "Driver rating", class: "stink-winner__stat-image" %>
    Driver Avg <%= winner.avg_driver_rating %>
  </p>
</div>
