<div class="jumbotron" align="center">
  <div class="bus">
    <%= render 'shared/flash_messages' if !flash.empty? %>
    <%=image_tag("puni_logo.png", width: "125")%>
    <%= render 'shared/bus' %>   
  </div>
</div>


<div class="container" align="center">
  <h1>MUNI Stinks....Rate Your Ride!</h1>
  <br>

  <%= form_tag(controller: "munis", action: "show") do %>

    <%= hidden_field_tag(:route_name, 1, :id => "route_name") %>
    <%= render 'shared/slider', :item => "smell" %>
    <br>
    <%= render 'shared/slider', :item => "clean" %>
    <br>
    <%= render 'shared/slider', :item => "driver" %>
    <br>

    <div class="form-group">
      <h3><label for="comment">Horror story</label></h3>
      <textarea class="form-control" rows="5" id="comment" placeholder="Add details about any horror stories you experienced on this bus ride."></textarea>
    </div>
    <%= submit_tag "Submit your rating", class: "btn btn-primary btn-lg btn-block" %>

  <% end %>
  <hr>
 <%= render 'shared/footer' %>
</div>
<div class="b-popup" id="popup">
  <div class="b-popup-content" id="popup-1">
    <div id="map"></div>
  </div>  
</div>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaYLHZHLGdLvmtHj03U6Kxih0VjknasFY">
</script>