<div class="jumbotron" align="center">
  <div class="leader">
    <div class="row">
      <%= image_tag("puni-award.png") %>
      <h3>PUNI Awards</h3>
    </div>
  </div>
</div>

<div class="container" align="center">
  <%= image_tag("puni_logo.png", width: '100') %>

  <h2>Stink Champs</h2>
  <div class="row">
    <%= render 'shared/stink_winner', :winner => @munis.first if !@munis.nil? %>
    <%= render 'shared/stink_winner', :winner => @munis.second if !@munis.second.nil? %>
    <%= render 'shared/stink_winner', :winner => @munis.third if !@munis.third.nil? %>
  </div>

  <hr> 

  <%= render 'shared/footer' %>

</div>
